@charset "UTF-8";

/* nav現在地 */
nav>ul>li:nth-of-type(2){
    background-color: rgba(112, 128, 144, 0.1);
}

/* 見出し */
h2{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    padding: 10px 15px 14px 30px;
    color: #fff;
    background: #4682b4;
    text-align: center;
    font-size: 1.75em;
    letter-spacing: 0.25em; 
}
h2:last-of-type{
    letter-spacing: 0;
}

h2:before{
    position: absolute;
    top: 0;
    left: -30px;
    content: '';
    border-width: 32px 30px 32px 0;
    border-style: solid;
    border-color: transparent #4682b4 transparent transparent;
}

h2:after{
    position: absolute;
    top: 38%;
    left: -10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
}

/* 旅行プランのbox */
.plan {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 10px;
    border: solid 3px #4682b4;
    border-radius: 8px;
    width: 300px;
    height: 380px;
    background-color: rgba(176,196,222,0.3);
    flex-flow: column;
}
.plan .city {
    position: absolute;
    display: inline-block;
    top: -18px;
    left: 10px;
    padding: 5px 9px;
    line-height: 1;
    font-size: 1.1875em;
    background: #fff;
    color: #000;
    font-weight: bold;
    border: solid 3px #4682b4;
    border-radius: 8px;
}

.plan p {
    margin: 0; 
    padding: 0;
}

.plan img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.plan h3{
    text-align: center;
}

/* reserve_btnここから */
.reserve_btn a {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 90px;
    padding: 6px 20px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    border-radius: 100px;
    background: #b0c4de;
    box-shadow: 0 5px 5px #4682b4, 0 5px 20px 5px #4682b4;
}
.reserve_btn a:hover{
    background: #4682b4;
    box-shadow: 0 5px 5px #708090, 0 5px 15px 2px #708090;
}

.reserve_btn a:active{
    background:#708090;
    box-shadow: 0 5px 5px #b0c4de, 0 5px 10px 1px #b0c4de;
    color: #fff;
}
/* reserve_btnここまで */

/* カレンダーここから */
/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
}
#header {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #4682b4;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #4682b4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日・祝日*/
th:first-child,
td:first-child{
    color: red;
}
/*土曜日*/
th:last-child,
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #bbb;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #b0c4de;
    color: #000;
    border: 1px solid #b0c4de;
    border-radius: 4px;
    font-size: 1.375em;
    padding: 5px 35px;
    margin-bottom: 15px;
}
#next-prev-button button:hover{
    background-color: #4682b4;
    border-color: #4682b4;
}
#prev {
    float: left;
}
#next {
    float: right;
}
/* カレンダーここまで */


/* レスポンシブここから */
@media screen and (max-width:640px) {

    nav>ul>li:nth-of-type(2){
        background-color: rgba(112, 128, 144, 0);
    }

    h2{
        margin-left: 50px;
    }

    .plan {
        margin: 30px auto;
        width: 90vw;
        height: auto;
        display: flex;
        padding: 25px 15px 15px;
        box-sizing: border-box;
    }
    .plan img {
        display: block;
        margin: 0 auto;
    }
    .reserve_btn{
        text-align: end;
    }



    /* カレンダー */
    .wrapper{
        width: 90vw;
    }


/* レスポンシブここまで */
}